<div class="body m-3">
  <div *ngFor="let new of others" class="card" style="width: 20rem;">
    <div class="card-header">
      {{new.date | date}}
    </div>
    <img *ngIf="new.imageUrl" src="{{new.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{new.title}}</h5>
      <p class="card-text">{{new.description}}</p>
      <div class="card-actions">
        <a class="btn btn-dark">Editar</a>
        <a class="btn btn-danger">Borrar</a>
      </div>
    </div>
  </div>
</div>

