.centerer {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-card {
  min-width: fit-content;
  width: 50%;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
}

h1 {
  text-align: center;
}

.img-visualizer {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 160px;
}

.img-visualizer img {
  max-height: 100%;
  border-radius: 5px;
  object-fit: contain;
}