.centerer {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-card {
  min-width: fit-content;
  width: 50%;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
}

h1 {
  text-align: center;
}